.axis {
  fill: #fff; stroke: none;
}
.axis path, .axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}
.axis text {
  color: #fff;
}
.symbol {
  fill: transparent;
  pointer-events: visible;
}
.tspan-0 {
  stroke: none;
  /*fill:#4099FF;*/
  font-size: 14px;
}
/*percentage difference*/
.tspan-1 {
  stroke: none;
  fill:#000;
  font-size: 18px;
}
/*compared to */
.tspan-2 {
  stroke: none;
  fill:#000;
  font-size: 10px;
}
.svgTitle {
  stroke: none;
  fill:#4099FF;
  font-size: 16px;
}
.svgTitle2 {
  stroke: none;
  fill:#666;
  font-size: 14px;
}

.x.axis.x0.axis0 line {
  stroke-opacity: 0.5;
}
.x.axis.x1.axis1 line {
  stroke-opacity: 0.3;
}
.x.axis.x0.axis0 text {
  stroke: none;
  fill: #333;
  font-size: 8px;
}
.x.axis.x1.axis1 text {
  stroke: none;
  fill: #333;
}
.y.axis.left text {
  stroke: none;
  fill: #666;
}
.container {
  position: relative;
}

#vertical {
  position: absolute;
  top: 0px;
  bottom: 0px;
  background: #000;
  z-index:2;
  width: 1px;
  height: 100%;
}

#pointer {
  display: flex;
  justify-content: space-between;
  z-index: 4;
  width: 5px;
  height: 5px;
  border: 2px solid crimson;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  opacity: 0.6;
  -webkit-transition: border-radius .3s ease-in-out;
    -moz-transition: border-radius .3s ease-in-out;
      -ms-transition: border-radius .3s ease-in-out;
          transition: border-radius .3s ease-in-out;
}

#pointer.rectangle {
  border-radius: 0;  
  cursor: pointer;
  width: 400px;
  height: 300px;
  background-color: #fff;
  opacity: 1;
}

#close-btn {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px; 
  font-size: 30px;
}

#close-btn.show {
  display: block;
}

#close-btn:after{
  display: inline-block;
  content: "\00d7"; /* This will render the 'X' */
}

/* Dropdown */
select {
  margin: 50px;
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #eee;
}

/* CAUTION: IE hackery ahead */
select::-ms-expand { 
  display: none; /* remove default arrow in IE 10 and 11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
  select {
    background:none\9;
    padding: 5px\9;
  }
}

.lightcoral-color {color:lightcoral;}

.size-16 {
  font-size: 16px;
}

.size-24 {
  font-size: 24px;
}

.size-32 {
  font-size: 32px; 
}

.size-64 {
  font-size: 64px;
}

.main-container {
  font-family: Helvetica, Arial, sans-serif;
  font-size: '1em';
  background-color: 'papayawhip';
  padding: 0px;
  margin: 0px;
  height: '100%';
  width: '100%';
}

.nav {
  background: transparent;
  display: flex;
}

.logo {
  min-width: 120px;
  min-height: 60px;
  background-color: transparent;
  margin: 10px;
  margin-right: auto;
  order: -1000;
}

.nav-list-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 101;
  background: #fefefe;
  box-shadow: 0 8px 6px -6px #777;
  opacity: 0.7;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  padding: 5px 15px 3px 15px;
  margin: 0;
  list-style: none;
}

.nav-list .item {
  flex: 0 1 auto;
  position: relative;
  display: block;
  padding: 0px;
  /* margin: auto; */
  text-align: center;
  width: 32px;
  height: 32px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
}

.nav-list .item:hover {
  /* border: 1px solid crimson; */
  background-color: #fccc63;
}

.nav-list .item.rectangle {
  width: 250px;
  height: 100px;
  background-color: #fff;
}

@media only screen and (max-width: 420px) {
  .nav {
    visibility: hidden;;
  }

  .logo {
    flex: 1 100%;
    max-width: 80%;
    align-self: flex-start;
    order: 0;
  }
  
}
