.axis {
  fill: #fff; stroke: none;
}
.axis path, .axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}
.axis text {
  color: #fff;
}
.symbol {
  fill: transparent;
  pointer-events: visible;
}
.tspan-0 {
  stroke: none;
  /*fill:#4099FF;*/
  font-size: 14px;
}
/*percentage difference*/
.tspan-1 {
  stroke: none;
  fill:#000;
  font-size: 18px;
}
/*compared to */
.tspan-2 {
  stroke: none;
  fill:#000;
  font-size: 10px;
}
.svgTitle {
  stroke: none;
  fill:#4099FF;
  font-size: 16px;
}
.svgTitle2 {
  stroke: none;
  fill:#666;
  font-size: 14px;
}

.x.axis.x0.axis0 line {
  stroke-opacity: 0.5;
}
.x.axis.x1.axis1 line {
  stroke-opacity: 0.3;
}
.x.axis.x0.axis0 text {
  stroke: none;
  fill: #333;
  font-size: 8px;
}
.x.axis.x1.axis1 text {
  stroke: none;
  fill: #333;
}
.y.axis.left text {
  stroke: none;
  fill: #666;
}
.container {
  position: relative;
}

#vertical {
  position: absolute;
  top: 0px;
  bottom: 0px;
  background: #000;
  z-index:2;
  width: 1px;
  height: 100%;
}

#pointer {
  display: flex;
  justify-content: space-between;
  z-index: 3;
  width: 5px;
  height: 5px;
  border: 2px solid crimson;
  position: absolute;
  top: -500px;
  border-radius: 50%;
  opacity: 0.6;
  -webkit-transition: border-radius .2s ease-in-out;
    -moz-transition: border-radius .2s ease-in-out;
      -ms-transition: border-radius .2s ease-in-out;
          transition: border-radius .2s ease-in-out;
          /*
          -webkit-transition: height .2s ease-in-out;
          -moz-transition: height .2s ease-in-out;
            -ms-transition: height .2s ease-in-out;
                transition: height .2s ease-in-out;
                */
                /*
                -webkit-transition: width .2s ease-in-out;
          -moz-transition: width .2s ease-in-out;
            -ms-transition: width .2s ease-in-out;
                transition: width .2s ease-in-out;
                */
  /*transition: border-radius .2s ease-in-out;*/
}

#pointer.rectangle {
  border-radius: 0;  
  cursor: pointer;
  width: 200px;
  height: 300px;
  background-color: #fff;
  opacity: 1;
}

#close-btn {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px; 
  font-size: 30px;
}

#close-btn.show {
  display: block;
}

#close-btn:after{
  display: inline-block;
  content: "\00d7"; /* This will render the 'X' */
}